*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
  margin: 0;

}

.container
{
  max-width: 1199px;
  margin:0 auto;
  height: 200px;
}
.todo
{
  background: #448AFF;
  height: 80px;

}
.main-todo
{
	text-align: center;
  background: #448AFF;
  box-shadow: 5px 5px 40px #448AFF;
}

.main-todo form{

    padding: 18px 0;
}

.main-todo form input[type = "text"]{
  padding: 10px 180px
}

.main-todo form input[type = "submit"]{
  padding:13px 90px;
  background: #FF7043;
}
.desc
{
  background: #18FFFF;
  height: 115px;
  margin-top: 10px;
  box-shadow: 5px 5px 40px gray;
  width: 85%;
  margin-left: 70px;
}


.desc span
{
  width: 20px;
  height: 20px;
  border: 1px solid #E8EAF6;
  margin-left: 15px;
  margin-top: 15px;
  float: left;
  text-align: center;
  color: #233186;

}
.desc .btn1 img,
.desc .btn2 img
{
  width: 30px;
  height: 30px;
  float: right;

}
.desc .btn1 img[alt="pen"]{
  margin-right: 5px;
  margin-top: 5px;
	width: 25px;
	height: 25px;
}
.desc .btn2 img[alt="trash"]{


}

.desc .btn {
  padding:1.3rem;
  float: right;
  border-radius: 50%;
  margin-top: 35px;
  background: #FF7043;
  margin-right: 20px;
	box-shadow: 2px 2px 5px gray;
	border:none;
}

.btn1,.btn2
{
	float: right;
	width: 40px;
	height: 40px;
	background: transparent;
	border:none;
}

.btn2
{
	margin: 75px -39px 0 0px
}

.btn1{
	margin: 0 ;
}




@media (max-width:1366px) {



  .main-todo form{

      padding: 18px 0;
  }

  .main-todo form input[type = "text"]{
    padding: 12px 250px;
		margin-left: -55px
  }

  .main-todo form input[type = "submit"]{
    padding:13px 90px;
    background: #FF7043;
		border:none;
		box-shadow: 2px 2px 5px darkslategrey;
  }

}


@media (max-width:1105px) {

  .container{
    width: 100%;
  }
  .main-todo
  {
    margin: 0 auto;
    background: #448AFF;
    box-shadow: 5px 5px 40px #448AFF;
  }

  .main-todo form{
      margin: 0 0 0 60px;
      padding: 18px 0;
  }

  .main-todo form input[type = "text"]{
    padding: 12px 0px;
    float: left;
    margin-left: -10px;
    width: 65%;
    margin-right: 5px;
  }

  .main-todo form input[type = "submit"]{
    padding:13px 0px;
    background: #FF7043;
    float: left;
    width: 30%;
  }

  .desc
  {
    background: #18FFFF;
    height: 115px;
    margin-top: 50px;
    box-shadow: 5px 5px 40px gray;
    width: 100%;
    margin-left: 0px;
  }

}


@media (max-width:835px) {
  .container{
    width: 100%;
  }
  .main-todo
  {
    margin: 0 5px;
    background: #448AFF;
    box-shadow: 5px 5px 40px #448AFF;
  }

  .main-todo form{
      margin: 0 0 0 45px;
      padding: 18px 0;
			position: relative;
  }

  .main-todo form input[type = "text"]{
    padding: 12px 0px;
    float: left;
    margin-left: -22px;
    width: 100%;
    margin-right: 0px;
  }

  .main-todo form input[type = "submit"]{
    padding:13px 0px;
    background: #FF7043;
    float: left;
    width: 70px;
		position: absolute;
		top: 550px;
		 border-radius: 50%;
		 height: 70px;
		 margin:-20px 0 0 -75px;

  }
  .desc
  {
    background: #18FFFF;
    height: 115px;
    margin-top: 50px;
    box-shadow: 5px 5px 40px gray;
    width: 100%;
    margin-left: 0px;
  }

}



@media (max-width:535px){
  .desc
  {
    background: #18FFFF;
    height: 115px;
    margin-top: 50px;
    box-shadow: 5px 5px 40px gray;
    width: 100%;
    margin-left: 0px;
  }
}
